body {  
 font-family: Arial, sans-serif;
    margin: 0;
    padding : 0;
   background-color: #f2f4f5;
  color: #1497b8e6;}

header {
  background-color:#18acc613;
  padding: 15px;
  text-align: center;}


nav a {
    margin: 0 10px;
 color: #1d4d5d;
 text-decoration: none;}

.hero {
text-align: center;
 padding: 30px;}

.hero img {
 width: 100%;
 height: auto;
 border-radius: 10px;}

.gallery img {
width: 100%;
border-radius: 10px;}

form {
width: 60%;
margin: 0 auto;
padding: 20px;
background: #08a3b12d;
border-radius: 10px;}

footer {
background-color:#1497b8e6;
text-align :center;
padding: 10px;}
